@model RecipesListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var recipe in Model.Recipes)
{
    <div>
        <h2>@recipe.Name</h2>
        <h3>@recipe.Description</h3>
        <h4>@recipe.Category.Description</h4>
    </div>
}